#logins-table{
	height: 90vh;
	overflow: auto;
	clear: both;
}

#logins-table table{
	font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#logins-table table td{
	font-size: 14px;
	 border: 1px solid #dddddd;
    text-align: center;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
   	align-items: center;
   	text-align: center;
}

#logins-table table th{
	font-size: 14px;
	 border: 1px solid #dddddd;
    text-align: center;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 5px;
   	align-items: center;
   	text-align: center;
}

#logins-table table tr:nth-child(even) {
    background-color: #dddddd;
}

#addLoginTb{
	width: 90%;
    text-align: center;
}

#addLocaleBtn, #editLocaleBtn, #deleteLocaleBtn{
	display: inline;
}

#editLocaleBtn{
	
}

#deleteLocaleBtn{
	
}