
.login_table tr:nth-child(even) {
    background-color: #ffffff;
}

.login_table{
	width: 300px;
	margin-top: 50px; 
	text-align: center;
}

.login_table tr td{
	padding-top: 10px;
}

input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px 0px 12px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#content{
	width: 30%;
	margin-top: 50px;
	margin: auto;
}

.error_msg{
	padding: 15px;
	margin: 10px;
	background-color: #e25252;
	font-family: "Segoe UI",Arial,sans-serif;
	color: white;
}

#load-circle{
	width: 20px;
}

#loginBtn{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    padding: .105rem .45rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    display: inline-flex;
    white-space: nowrap;
    font-family: Arial,Helvetica,sans-serif;
}

#loginBtn:hover{
	background-color: #3465a4;
}